<div class="card-top container-fluid">
    <div class="container d-flex"
    >
        <div class="item">
            <a (click)="sortcategory('Ladies Clothing')"><h2>Ladies Clothing</h2></a>
        </div>
        <div class="item">
            <a (click)="sortcategory('Men Clothing')"><h2>Men Clothing</h2></a>
        </div>
        <div class="item">
            <a (click)="sortcategory('Baby Wear')"><h2>Baby Wear</h2></a>
        </div>
        <div class="item">
            <a (click)="sortcategory('Sneakers')"><h2>Sneakers</h2></a>   
        </div>
    </div>
</div>
<div class="container">
    <div class="shop-container">
        <ng-container *ngFor="let product of productList | paginate:{itemsPerPage:4, currentPage: p};">
            <div class="card" >
                <img src="{{product.image}}">
                <h4><strong>{{product.name}}</strong></h4>
                <p id="description">{{product.description}}</p>
                <p><strong>Ksh {{product.price}}</strong></p>
                <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </ng-container>
    </div>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>



