.shop-container {
    display: flex;
    justify-content: space-between;
}
.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 30px; */
    word-wrap: break-word;
    background-color: white;
    border-bottom: 1px solid blue;
}

.item {
    margin: 0 15px;
    text-align: center;


}
a{
    text-decoration: none;
    cursor: pointer;
}

.item h2{
    font-size: 14px;
    font-weight: 200;
}
.card {
    padding: 20px;
    max-width: max-content;
}

h4 , #description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 50ch; */
}

.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
    object-fit: contain;

}
.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
