<div class="card-top container-fluid">
    <div class="container d-flex"
    >
        <div class="item">
            <a (click)="sortcategory('Ladies Clothing')"><h2>Ladies Clothing</h2></a>
        </div>
        <div class="item">
            <a (click)="sortcategory('Men Clothing')"><h2>Men Clothing</h2></a>
        </div>
        <div class="item">
            <a (click)="sortcategory('Baby Wear')"><h2>Baby Wear</h2></a>
        </div>
        <div class="item">
            <a (click)="sortcategory('Sneakers')"><h2>Sneakers</h2></a>   
        </div>
    </div>
</div>

<ng-container>
    <div class="container">
        <div class="row">
            <div class="col-md-3" >
                <div class="card d-flex" *ngFor="let prod of product | filter:searchQuery:'name'">
                    <img src="{{prod.image}}">
                    <h4>{{prod.name}}</h4>
                    <p id="description">{{prod.description}}</p>
                    <p><strong>Ksh {{prod.price}}</strong></p>
                    <button class="btn btn-primary" (click)="addToCart(prod)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

