<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <div class="table table table-responsive">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Product Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; let i = index">
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.image}}</td>
                            <td>{{product.description}}</td>
                            <td>Ksh. {{product.price}}</td>
                            <td class="quantity"><button (click)="decQnty(product)">-</button>{{product.quantity}}<button (click)="incQnty(product)">+</button></td>
                            <td>{{product.total}}</td>
                            <td>
                                <button (click)="removeItem(product)" class="btn btn-danger">delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-danger" (click)="emptyTheCart()">Empty cart</button></td>
                            <td><button class="btn btn-primary" routerLink="/products">Add more</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td>Grand Total: Ksh. <strong>{{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h3 class="card-title">My Cart</h3>
        </div>
        <div class="center">
            <img src="" alt="">
            <h3>Your cart is empty!</h3>
            <button class="btn btn-primary" routerLink="/products" >Shop Now</button>
        </div>
    </div>
</ng-container>
