<footer class="bg-dark text-white mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>INFINITE WEAR</h1>
        <div class="footer-intro">
          <div class="left">
            <h3>contact info</h3>
            <ul>
              <li>infinitewear@gmail.com</li>
              <li>+254-712-345-678</li>
              <li>Kimathi St. <br>Nyeri, Kenya</li>
            </ul>
          </div>
          <div class="right">
            <h3>Categories</h3>
            <ul>
              <li><a href="#">Men Clothing</a></li>
              <li><a href="#">Ladies Clothing</a></li>
              <li><a href="#">Babies Wear</a></li>
              <li><a href="#">Sneakers</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 contact-form">
        <h1>Contact Us Now</h1>
          <form #contactForm="ngForm" novalidate>
            <div class="form-group ">
              <label>Enter Email</label>
              <input type="text" class="form-control" name="email" ngModel>
            </div>
            <div class="form-group ">
              <label>Enter Message</label><br>
              <textarea name="yourmessage" id="yourmessage" cols="30" rows="2" ngModel></textarea>
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
      </div>
    </div>
  </div>
</footer>