<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-black text-white">
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase flex-start">Infinite Wear</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">products</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Ladies Wear</a>
              </li>
              <li>
                <a href="#!">Mens Wear</a>
              </li>
              <li>
                <a href="#!">Babies clothing</a>
              </li>
              <li>
                <a href="#!">custom</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">contact</h5>
  
            <ul class="list-unstyled">
              <li>
                info@infinitewear.com
              </li>
              <li>
                  K-Pop House, Kimathi St. <br> Nyeri
              </li>
              <li>
                +254-712345678
            </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://fredrickwambua.com/"> fredrickwambua.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
