
<mat-toolbar color="primary" class="">
    <button mat-button routerLink="/home">
        <mat-icon>domain</mat-icon>
        Infinite Wear
    </button>
    <button mat-button routerLink="/home">Home</button>
    <form action="">
        <input type="text" name="search" id="search" placeholder="Search">
        <mat-icon>search</mat-icon>
    </form>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxLayoutGap="20px" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/products">Products</button>
        <button mat-button routerLink="/signup">Sign Up</button>
        <button mat-button routerLink="/login">Login</button>
        <button mat-mini-fab routerLink="/cart"><mat-icon>shopping_cart</mat-icon></button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu" class="toggle-buttons">
    <button mat-menu-item routerLink="/products">Products</button><hr>
    <button mat-menu-item routerLink="/sign-up">Sign Up</button><hr>
    <button mat-menu-item routerLink="/login">Login</button><hr>
    <button mat-menu-item routerLink="/cart">Cart</button>
</mat-menu>