<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
            <label for="name">Product Name</label>
            <input class="form-control" id="file" formControlName="name" type="text">
            <div class="text-danger" *ngIf="pf['name'].touched && pf['name'].invalid">
                <small *ngIf="pf['name'].errors">* Name is required</small><br>
                <small *ngIf="pf['name'].errors?.['minlength']">* Minimum characters should be 3</small>
            </div><br>
            <label for="file">Product Image</label>
            <input type="file" accept="image/*" class="form-control" id="image" formControlName="image" (change)="onImageChange($event)">
            <div class="text-danger" *ngIf="pf['image'].touched && pf['image'].invalid">
                <small *ngIf="pf['image'].errors">* File is required</small><br>
                <small *ngIf="pf['image'].errors?.['minlength']">* Minimum characters should be 3</small>
            </div><br>
            <label for="description">Product Description:</label>
            <textarea class="form-control" id="description" formControlName="description" type="text"></textarea>
            <div class="text-danger" *ngIf="pf['description'].touched && pf['description'].invalid">
                <small *ngIf="pf['description'].errors">* Description is required</small><br>
                <small *ngIf="pf['description'].errors?.['minlength']">* Minimum characters should be 20</small>
            </div><br>
          <div class="dropdown">
            <label for="category">Select Category: </label>
            <select name="category" id="category" formControlName="category">
                <option value="" *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
            </select>
          </div><br>
            <label for="price">Product Price</label>
            <input class="form-control" id="price" formControlName="price" type="number">
            <div class="text-danger" *ngIf="pf['price'].touched && pf['price'].invalid">
                <small *ngIf="pf['price'].errors">* Name is required</small><br>
            </div><br>
          <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary">Submit</button>

    </form>
</div>
